<div class="m-3">
    <%- content %>
</div>
<div class="m-3">
    <button class="btn btn-primary w-100 mt-2"
        onclick="window.location.href.endsWith('/') ? window.location = window.location.href += 'edit':window.location = window.location.href += '/edit'"
        type="submit">Edit</button>
    <button class="btn btn-secondary w-100 mt-2"
        onclick="window.location.href.endsWith('/') ? window.location = window.location.href += 'delete':window.location = window.location.href += '/delete'"
        type="submit">Delete</button>
</div>